* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    padding: 30px;
    background-color: Red;
}

header> h1
{
    color: black;
    text-align: center;

}

body {
    background-color: whitesmoke;
}

.scoreboard
{
    border: 3px solid white;
    width: 200px;
    text-align: center;
    margin: 20px auto;
    color: midnightblue;
    padding: 5px 5px;
    position: relative;
}

.badge{
    background: indianred;
    color: white;
    font-size: initial;
    padding: 5px 5px;
}

.result{
    color: midnightblue;
    text-align: center;
    font-size: 40px;
}

.choices{
    margin: 50px ;
    text-align: center;
}

.choice{
    display: inline-block;
    margin: 60px;
}

.choices>.choice > img {
    height: 100px;
    width: 100px;
}
.choice:hover{
    cursor: pointer;
    background: firebrick;
}
body> p {
    text-align: center;
    font-size: 25px;
    color: midnightblue;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}